* {
    padding: 0;
    margin: 0;

}

html {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.main-div {
    padding: 0;
    width: 100%;
    height: 100%;
}

.header {
    padding: 0 10.8rem;
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    background: rgba(0, 0, 0, .5);
    transition: 0.3s;
    position: fixed;
    z-index: 1;
}

.navbar {
    width: 100%;
}

.header .logo {
    width: 5rem;
    margin-left: 10rem;
}

.navbar-list {
    display: flex;
    gap: 4.8rem;
    list-style: none;
    margin-left: 10rem;
    margin-top: 1rem;
    font-family: 'Montserrat', sans-serif;
}

.navbar-link:after {
    content: "";
    position: absolute;
    height: 0.3rem;
    width: 0%;
    left: 0;
    background-color: #4BD6B8;
    bottom: -1.5rem;
    transition: 0.3s;
}

a:hover:after {
    width: 100%;
    ;
}

.navbar-link:link,
.navbar-link:visited {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 500;
    color: rgb(255, 255, 255);
    position: relative;
}

.mobile-nav-icon {
    width: 2.5rem;
    height: 2.5rem;
}

.mobile-navbar-btn {
    display: none;
    background: transparent;
    cursor: pointer;
}

.mobile-nav-icon[name="close-outline"] {
    display: none;
}

.nav-drop-div {
    position: absolute;
    height: 15rem;
    left: 0;
    width: 100%;
    padding-top: 1.3rem;
    display: none;

}

.navbar-dropdown {
    position: absolute;
    display: flex;
    list-style: none;
    left: 0;
    margin-top: 0.2rem;
    height: 15rem;
    width: 100%;
}

.drop-background {
    width: 100%;
    height: 15rem;
    background-color: rgba(255, 255, 255, 0.9);
    position: fixed;
    top: 5rem;
    display: none;
    z-index: 1;
}

#vive {
    display: none;
}

.navbar-drop-link img {
    width: 6rem;
    opacity: 0.5;
}

.navbar-drop-link {
    margin-top: 2rem;
    margin-left: 12rem;
    text-align: center;


}

.navbar-drop-link a {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 300;
    color: #8E8D8D;


}

.navbar-list li:hover .nav-drop-div {
    display: block;
}


.drop-details {
    display: flex;



}

.drop-details li a:hover {
    color: #4A4A4A;
    transition: all 0.3s;

}

.drop-details li a:hover img {
    opacity: 1;
    transition: all 0.3s;
}

.triangle-button {
    position: absolute;
    right: 0;
}

.tri-icon {
    width: 2rem;
    position: absolute;
    right: 22rem;
    top: -0.8rem;
}

.search-div {
    position: absolute;
    right: 30rem;
    display: flex;
}

#search-div-1 {
    position: relative;
}

#search-div-2 {
    position: relative;
}

#search-div-3 {
    position: relative;

}

.search-icon {
    font-size: 2rem;
    color: aliceblue;

}

.search-icon[name="close"] {
    display: none;
}

.search-box {
    border: none;
    outline: none;
    height: 3rem;
    width: 12rem;
    font-size: 1.7rem;
    display: none;
    background: transparent;
}



/* Slider CSS */



#slider-container {
    display: flex;
    height: 96.5vh;
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.slider-wrapper {
    min-width: 100%;
    height: 100%;
    display: flex;
    transition: transform 0.4s ease-in-out;
}

.slider {
    flex: 0 0 100%;
    /* Ensure each slide takes the full width */
    position: relative;
}

#slider-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider-content {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    align-items: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.slider-text {
    font-size: 45px;
    font-family: 'Montserrat', sans-serif;
}

.slider2-text {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}

.slider2-text2 {
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
}

.slider-btn {
    background-image: linear-gradient(to bottom right, rgb(34, 168, 45), rgb(23, 231, 221));
    color: #ffffff;
    font-size: 16px;
    padding: 3px 25px;
    border: none;
    cursor: pointer;
    display: block;
    margin-top: 50px;

    border-radius: 30px;
    transition: background-color 0.3s ease-in-out;
}

.slider-btn:hover {
    background-color: #f0f0f0;
}

.slider-dots {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.slider-dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.6);
    margin: 0 6px;
    cursor: pointer;
}

.slider-dot.active {
    background-color: #fff;
}


/* Slider CSS END*/


.first-container {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;

}

#img1 {
    width: 37rem;
    height: 30rem;
    position: relative;
    margin-top: 10rem;
    text-align: center;
    margin: 0;
    padding: 0;
}

#img2 {
    width: 37rem;
    height: 30rem;
    position: relative;
    margin-top: 10rem;
    text-align: center;
    margin: 0;
    padding: 0;
}

#img3 {
    width: 37rem;
    height: 30rem;
    position: relative;
    margin-top: 10rem;
    text-align: center;
    margin: 0;
    padding: 0;
}

.text-div {
    width: 37rem;
    height: 25%;
    margin: 0;
    padding: 0;

}

.text-div h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.7rem;
    margin-top: 1rem;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

.text-div p {
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    color: #9B9B9B;
    margin-top: 1.5rem;
    padding: 0;
}

.img-div {
    width: 37rem;
    height: 70%;
    overflow: hidden;
    margin: 0;
}


.img-div img {
    height: 100%;
    width: 37rem;
    transition: all 0.3s;
    margin: 0;
}

.img-div img:hover {
    transform: scale(1.2);
}

.hover-div {
    display: flex;
    margin-top: 10rem;
}

.second-container {
    width: 100%;
    height: 96vh;
    background-image: url(backgrounds/container-2.webp);
    background-size: cover;
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.second-container button {
    padding: 0.7rem 5.3rem 0.7rem 5.3rem;
    border-radius: 4rem;
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    background: transparent;
    color: #fff;
    background-image: url(icon/play.png);
    background-size: 1.5rem 1.5rem;
    background-position: 2rem 1rem;
    background-repeat: no-repeat;
    border: solid 0.2rem;
    border-color: #f0f0f0;
    outline-color: #ffffff;
}

.frame-video {

    position: absolute;
    border: none;
    display: none;
}

.fa-solid {
    font-size: 4rem;
    color: #ffffff;
    position: absolute;
    top: 120rem;
    right: 20rem;
    display: none;
}



.footer {
    width: 100%;
    height: 60vh;
    background: #F4F4F4;
}

.footer-pc-left {
    width: 30%;
    height: 60vh;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-pc-left .fa-brands {
    font-size: 2rem;
    color: #706f6f;
    transition: 0.3s;
    margin-right: 3rem;
}

.footer-pc-left .fa-brands:hover {
    color: #b806ff;
}

.footer-pc-left h2 {
    font-family: 'Montserrat', sans-serif;
    color: #8E8D8D;
    margin-top: 2rem;
    margin-left: 2.5rem;
}

.footer-pc-right {
    width: 70%;
    height: 60vh;
    float: right;
    display: flex;
    justify-content: center;

}

.footer-pc-right ul {
    list-style: none;
    margin-left: 8rem;
    margin-top: 10rem;
}

.footer-pc-right li {
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    color: #8E8D8D;
    margin: 1rem;
}

#heading-li {
    color: #302d2d;
    font-weight: 500;
}

.footer-pc-right h2 {
    font-family: 'Montserrat', sans-serif;
    color: #8E8D8D;
    font-size: 1.5rem;
    font-weight: 500;
    position: absolute;
    margin-top: 35rem;
    right: 4rem;
}

.footer-phn {
    display: none;
}






@media screen and (max-width:84.938em) {
    .search-div {
        right: 9rem;
    }

    .tri-icon {

        right: 2rem;
    }

    .slider-text {
        font-size: 35px;
        font-family: 'Montserrat', sans-serif;
    }

    .slider2-text {
        font-size: 15px;
        font-family: 'Montserrat', sans-serif;
    }

    .slider2-text2 {
        font-size: 10px;
        font-family: 'Montserrat', sans-serif;
    }


    



}





@media screen and (max-width:76.0625em) {

    hr {
        width: 100%;
    }

    .mobile-navbar-btn {
        display: block;
        z-index: 999;
        justify-content: start;
        left: 1.2rem;
        position: absolute;
    }

    .header {
        padding: 0;
        justify-content: center;
        position: fixed;

    }

    .header .logo {
        margin-left: 0;
        position: fixed;
    }

    .navbar {

        width: 100%;
        background: white;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: left;
        transform: translateX(-100%);
        transition: all 0.5s linear;
        height: 100vh;
    }

    .navbar-list {
        position: absolute;
        flex-direction: column;
        top: 5rem;
        margin-left: 2rem;
    }

    .navbar-link:link,
    .navbar-link:visited {
        color: rgb(0, 0, 0);
        position: relative;
    }

    .active .navbar {
        transform: translateX(0%);

    }

    .active .search-div {
        display: none;
    }

    .active .mobile-navbar-btn .mobile-nav-icon[name="close-outline"] {
        display: block;
        visibility: visible;
        opacity: 1;


    }

    .active .mobile-navbar-btn .mobile-nav-icon[name="menu-outline"] {
        display: none;
        visibility: hidden;
        opacity: 0;

    }

    .nav-drop-div {
        position: relative;
        transition: 0.5s linear;


    }

    .navbar-drop-link img {
        display: none;
    }

    .drop-details {
        display: flex;
        flex-direction: column;
        margin-left: 12rem;
    }

    .navbar-drop-link {

        display: flex;
        flex-direction: column;
        margin-left: -22rem;
        margin-top: 1rem;

    }

    .navbar-dropdown {
        position: absolute;
        margin-left: 10rem;
    }

    .drop-details li h4 {
        text-align: left;
    }

    .triangle-button{
        display: none;
    }

    .search-div {
        right: 2rem;

    }

    #search-div-1 {
        position: fixed;
    }

    #search-div-2 {
        position: absolute;
        top: 6rem;
        left: 3rem;
    }

    #search-div-3 {
        position: absolute;
        top: 6rem;
        right: 2;
    }

    .search-background {
        width: 100%;
        height: 5rem;
        background-color: #ffffff;
        display: none;
        position: absolute;
        top: 5rem;
        z-index: -1;
    }

    #vive {
        display: block;

    }

    #vive-img {
        width: 2rem;
    }

        .phn-drop-item .tri-icon {
            visibility: hidden;
        }


        .slider-text {
            font-size: 25px;
            font-family: 'Montserrat', sans-serif;
        }

        .slider2-text {
            font-size: 20px;
            font-family: 'Montserrat', sans-serif;
        }

        .slider2-text2 {
            font-size: 10px;
            font-family: 'Montserrat', sans-serif;
        }

        #slider-container {
            height: 75vh;
        }

        #slider-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .hover-div {
            display: block;
            margin-top: -4rem;
        }

        .first-container {
            height: 185vh;
        }

        .second-container {
            width: 100%;
            background-position: center;
            height: 65vh;
        }

        .fa-solid {
            font-size: 3rem;
            color: #ffffff;
            right: 2rem;
            top: 187rem;
        }

        .frame-video {
            width: 50rem;
            height: 30rem;
        }

        
        .footer-pc-left{
            display: none;
        }

        .footer-pc-right{
            display: none;
        }

        #img1 {
            width: 37rem;
            height: 30rem;
            margin-top: 10rem;
            text-align: center;
            position: sticky;
        }

        #img2 {
            width: 37rem;
            height: 30rem;
            margin-top: 10rem;
            text-align: center;
            position: sticky;
        }

        #img3 {
            width: 37rem;
            height: 30rem;
            margin-top: 10rem;
            text-align: center;
            position: sticky;
        }

        .text-div {
            width: 37rem;
            height: 25%;

        }


        .footer-pc-left{
            display: none;
        }
    
        .footer-pc-right{
            display: none;
        }

        .footer-phn {
            display: block;
        }


        .footer {
            width: 100%;
            height: 100%;
            text-align: left;
        }

        .footer-phn {
            display: flex;
            justify-content: center;
            text-align: center;
            flex-direction: column;
            

        }

        .footer-phn .fa-brands {
            margin: 0;
            margin-top: 4rem;
            font-size: 2rem;
        }

        .footer-phn h2 {
            margin: 0;
            font-size: 2rem;
            font-weight: 400;
            margin-top: 2rem;
            color: #706f6f;
        }

        .footer-phn .fa-brands:hover {
            color: #b806ff;
        }

        .phn-drop-list {
            font-weight: 500;
        }

        .phn-drop-list,
        .drop-item-list {
            text-align: left;
            margin-top: 1.2rem;
            margin-left: 2rem;
        }

        .phn-drop,
        .phn-drop-item {
            list-style: none;
            color: #706f6f;
            font-size: 1.5rem;
            font-family: 'Montserrat', sans-serif;
        }

        .phn-drop-item{
            display: none;
        }

        hr{
            width: 90%;
        }

        .rule{
            display: flex;
            justify-content: center;
        }

        .copyright{
            text-align: left;
            margin-bottom: 4rem;
        }
        .copyright h3{
            font-family: 'Montserrat', sans-serif;
            font-size: 1.5rem;
            color: #9b9898;
            margin-left: 2rem;
        }



    }

    